.im {
    /*background-image: url("image/timg.jpg");*/
    background-size:cover;
}
.bt{
    font-size: 14px;
    border-radius:5px;
    color: #fff;
    background: #00b4ef;
    padding: 10px 25px;
    border: none;
    text-transform: capitalize;
    transition: all 0.5s ease 0s;
}
.tab{
    position: absolute;
    height:60px;
    width:150px;
    background: rgb(8, 4, 5);
}
.horizontal{
    position: absolute;
    height: 50%;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    background: rgba(0, 0, 0, 0.32);
    padding-bottom:70px;
}
.text{
    font-size:18px;
}
.text:after {
    content:'';
    display:block;
    width:150px;
    margin-top:7px;
    border-bottom:3px solid black;
}
.image{
    /*background-image: url("image/xingkong2.jpg");*/
    /*width: 70%;*/
}
